@font-face {
    font-family: "norse";
    src: url(./fonts/norse-bold-webfont.woff2) format(woff2), 
         url(./fonts/norse-bold-webfont.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family:"PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay-Medium.woff2) format(woff2),
         url(./fonts/PlayfairDisplay-Medium.woff) format(woff);
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family:"PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay-MediumItalic.woff2) format(woff2),
         url(./fonts/PlayfairDisplay-Regular.woff) format(woff);
    font-weight: 500;
    font-style:italic
}
@font-face {
    font-family:"PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay-Regular.woff2) format(woff2),
         url(./fonts/PlayfairDisplay-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay";
    src: url(./fonts/PlayfairDisplay-SemiBold.woff2) format(woff2),
         url(./fonts/PlayfairDisplay-SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}

body{
    background-image: url(./restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "PlayfairDisplay", serif;
    position: relative;
}

#content{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: white;
    overflow: hidden;
}
.container{
    display: flex;
    padding: 5px 10px;
    margin-right: auto;
}
.name {
    font-family: "norse", cursive;
    font-size: 1.9rem;
    margin: 0;
    width: min(11ch);
    color: #fff;
}
.logo{
    height: 70px;
    width: 50px;
    fill: yellow;
}
.home-text{
    font-size: 3.5rem;
    text-align: center;
    width: min(20ch);
    margin-bottom: 20%;
}
.motto{
    margin-top: 140px;
    margin-bottom: 0;
    font-size: 1.2rem;
}

.nav{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: flex-end;
    height: 82px;
    background-color: rgb(0, 0, 0, .6);
    gap: 50px;
}
.nav button:last-child{
    margin-right: 50px
}

button{
    border: none;
    background-color: transparent;
    color: rgb(220, 240, 240, .75);
    font-size: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.order{
    border: 2px solid #fff;
    align-self: center;
    padding: 4px 28px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 5px;
}
button:hover{
    color: #fff;
    font-weight: 500;
}
.order:hover{
    background-color: rgb(255, 255, 255);
    color: #000;
    border: 2px solid transparent;
}
.about{
    color:  #000;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color:rgb(255, 255, 255);
    margin: 82px 0 0 0;
    padding: 20px 80px;
    gap: 30px;
}
.about h1{
    grid-column: span 2;
    font-size: 4rem;
    font-weight: 600px;
    text-align: center;
}
.about  p{
    line-height: 24px;
    font-weight: 200;
    margin: 30px 30px;
}
.img-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.img-container img:first-child{
    grid-row: span 2;
}
.img-container img{
    height: auto;
    width: 350px;
    border-radius: 10px;
}
.menu{
    display: grid;
    grid-template-columns: auto auto;
    background-color:#fff;
    color: #000;
    width: 100%;
    height: 100%;
    margin-top: 82px;
    padding: 0 100px;
    overflow: hidden;

}
.menu > h1{
    grid-column: span 2;
    font-size: 4rem;
    text-align: center;
    margin-left: 70px;
}
.menu > div{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px
}
.menu div > h1 {
    grid-column: span 2;
}
.menu img{
    height: 270px;
    width: 200px;
    border-radius: 15px;
}
.menu div:nth-child(4) img,
.menu div:nth-child(5) img{
    margin-right: 40px;
}
.menu > div > div{
    width: min(20ch);
    font-size: 1.2rem;
    line-height: 32px;

}





