@font-face {
    font-family: "norse";
    src: url(./norse-bold-webfont.woff2) format(woff2), 
         url(./norse-bold-webfont.woff) format(woff);
    font-weight: 700;
    font-style: normal;
}


body{
    background-image: url(./restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}
.container{
    align-self: flex-start;
    display: flex;
    padding: 10px;
}
.name {
    font-family: "norse", cursive;
    font-size: 2.4rem;
    margin: 0;
    width: min(11ch);
}
.logo{
    height: 100px;
    width: 60px;
}
.home-text{
    font-size: 3.5rem;
    text-align: center;
    width: min(20ch);
    margin-bottom: 20%;
}


